debian-riscv64-chroot/
cardmem.bin
client
server
*~
cd997a44-9d17-47b2-8665-c8abd992382f/
configured.tar.xz
configured/
debian-riscv64-tarball-20180418.tar.xz
debian-riscv64-tarball-20180418/
debian-root.tar.xz
